* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.result {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
